<div id="all">
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"> </button>
    </div>

    <div class="modal-body">
        <form >
            <div class="modal-body container-fluid">
                <h1><b>Actualizar Producto</b></h1>
                <div>
                    <input id="name"  class="form-control" placeholder="Nombre" type="text" required [(ngModel)]="product.name" name="name">
                    <div *ngIf="this.colo ==false">
                        <input id="color"  class="form-control" placeholder="Color" type="text" required [(ngModel)]="product.data.color" name="color">
                    </div>
                    <div *ngIf="this.colo ==true">
                        <input id="color2"  class="form-control" placeholder="Color2" type="color" required [(ngModel)]="product.data.color" name="color2">
                    </div>
                    <input id="price" class="form-control" placeholder="Precio" type="number" required [(ngModel)]="product.data.price" name="price">   
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveChanges()"><b>Agregar</b></button>
    </div>
</div> 

